<header>
    <nav class="navbar">
        <a href="/" class="logo">MiTienda</a>
        <ul class="nav-links">
            <li><a href="api/products">Productos</a></li>
            <li><a href="/carrito">Carrito</a></li>
        </ul>
    </nav>
</header>
